$concrete:            #F2F2F2;
$mercury:             #E6E6E6;
$teak:                #B5A36A;
$tundora:             #4c4c4c;
$white:               #FFFFFF;
$dusty-gray:          #999999;
$pesto:               #7E6E38; /* Lowlight color for $teak */
$laser:               #CFB97A; /* Highlight color for $teak */

$body-color:          $tundora;
$body-bg:             $white;
$body-padding-mobile: 0.5rem;

$link-color:          $tundora;
$hover:               $white;

$font-body:           'Merriweather';
$font-heading:        'Open Sans';

$footer-padding:      1rem;
$footer-top-margin:   6rem;
$footer-color:        $body-color;
$footer-bg:           $teak;
$footer-link-color:   $link-color;

$brand-primary:       $teak;
$brand-primary-high:  $laser;
$brand-primary-low:   $pesto;
$brand-secondary:     $tundora;

