$athens-gray:         #E5E9ED;
$concrete:            #F2F2F2;
$dusty-gray:          #999999;
$laser:               #CFB97A; /* Highlight color for $teak */
$mercury:             #E6E6E6;
$pesto:               #7E6E38; /* Lowlight color for $teak */
$regal-blue:          #003C71;
$teak:                #B5A36A;
$tundora:             #404040;
$black:               #000000;
$white:               #FFFFFF;


$body-color:          $tundora;
$body-bg:             $white;
$body-padding-mobile: 0.5rem;
$container-width:     1140px;

$link-color:          $teak;
$link-color-active:   $tundora;

$font-heading:        'Open Sans';
$font-body:           'Merriweather';
$font-size-base:      16px;

$footer-padding:      1rem;
$footer-top-margin:   6rem;
$footer-color:        $body-color;
$footer-bg:           $athens-gray;
$footer-link-color:   $regal-blue;

$brand-primary:       $teak;
$brand-primary-high:  $laser;
$brand-primary-low:   $pesto;
$brand-secondary:     $tundora;

$topnav-height:                   86px;
$topnav-logo-overhang:            55px;
$topnav-color:                    $body-color;
$topnav-bg:                       $athens-gray;
$topnav-link-color:               $regal-blue;
$topnav-link-color-active:        $tundora;
$submenu-border:                  $teak;

$topnav-mobile-color:             $teak;
$topnav-mobile-nav-bg:            $teak;
$topnav-mobile-nav-color:         $white;

$hero-height:                     250px;

$gallery-nav-color:    $body-bg;
$gallery-nav-bg:       $brand-primary;
