.page-footer {
  padding: $footer-padding 0;
  background: $footer-bg;
  color: $footer-color;
  box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.1), 0 -5px 5px rgba(0, 0, 0, 0.15);
  font-family: $font-heading;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.6;

  .container {
    position: relative;
  }

  a {
    color: $footer-link-color !important;
    border-bottom: 1px solid transparent !important;

    &:hover {
      border-bottom-color: $hover !important;
      text-decoration: none;
      color: $hover !important;
    }
  }

  h4 {
    display: inline-block;
    padding-bottom: 2px;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid $footer-color;
    font-family: $font-heading;
    font-weight: 800;
    font-size: 14px;
  }

  i {
    margin: 0 0.5em;

    &.fa-lg {
	    vertical-align: 0;
    }
  }

  .menu li {
    display: block;
  }

  .site-map-group {
    @include span-columns(2 of 4);
  }

  @media (max-width: 599px) {
    padding: $body-padding-mobile;

    .social-links {
      position: absolute;
      top: $footer-padding;
      right: 0;
    }

    .contact-info {
      margin-bottom: 3rem;
    }

    .credits {
      display: none;
    }
  }

  @media (min-width: 600px) and (max-width: 999px) {
    .contact-info,
    .site-map {
      @include span-columns(6);
    }

    .site-map {
      @include omega();
    }

    .social-links {
      display: none;
    }

    .credits {
      display: none;
    }
  }

  @media (min-width: 1000px) {
    .contact-info,
    .site-map,
    .social-links {
      @include span-columns(4);
    }
  }

  .address-list {
    list-style: none;

    i {
      margin-left: 0;
    }
  }

  .social-highlight {
    float: right;
    background: $white;
    margin-top: -$footer-padding;
    padding: $footer-padding $footer-padding ($footer-padding / 3);
    text-align: right;

    h4 {
      border-bottom: none;
      margin-right: 0.5em;
    }
  }

  .credits {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
