.page-footer {
  padding: $footer-padding 0;
  margin-top: $footer-top-margin;
  background: $footer-bg;
  color: $footer-color;
  box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.1), 0 -5px 5px rgba(0, 0, 0, 0.15);
  font-family: $font-heading;
  font-weight: 600;
  font-size: 12px;
  line-height: 2;

  .container {
    position: relative;
  }

  a {
    color: $footer-link-color;
    border-bottom: 1px solid transparent;

    &:hover {
      border-bottom-color: $link-color-active;
      color: $link-color-active;
      text-decoration: none;
    }
  }

  h4 {
    @include heading-style;
    display: inline-block;
    padding-bottom: 2px;
    margin-bottom: 0.5rem;
    border-bottom: 2px solid $footer-color;
    font-size: 13px;
  }

  .address-list {
    list-style: none;

    i {
      margin-left: 0;
    }
  }

  .menu-item {
    padding: 0;
  }

  .menu li {
    display: block;
  }

  .contact-info {
    @include span(4);
    a:hover {
      border-bottom-color: transparent;
    }
  }
  .site-map-group {
    @include span(6);
  }

  .footer-bottom {
    position: relative;
    margin-top: $footer-padding * 3;
    font-size: 11px;
  }

  .credits {
    @include span (6);
    float: right;
    text-align: right;
  }

  .copyright {
    @include span (6);
    float: left;
  }

  .social-links {
    a {
      color: $brand-primary;
    }

    a:hover {
      color: $brand-primary-low;
      text-decoration: none;
      border-bottom-color: transparent;
    }

    h4 {
      border-bottom: none;
      text-transform: none;
      letter-spacing: 0;
    }
  }

  @media (max-width: 450px) {
    .contact-info, .social-links, .credits, .copyright {
      @include span(12);
      text-align: center;
    }

    .social-links {
      background: transparent;
      margin: 1rem 0;
      padding: 0;
    }

    .footer-bottom {
      margin-top: 0;
    }

    .footer-menu-left,
    .footer-menu-right {
      display: none;
    }
  }

  @media (min-width: 451px) {
    .social-links {
      position: absolute;
      top: -$body-padding-mobile;
      right: -$body-padding-mobile;
      padding: $body-padding-mobile $body-padding-mobile ($body-padding-mobile / 3);
    }
  }

  @media (min-width: 451px) and (max-width: 699px) {
    padding: $body-padding-mobile;

    .contact-info {
      @include span (6);
    }

    .site-map-group {
      display: none;
    }
  }

  @media (min-width: 700px) {
    .contact-info,
    .site-map {
      @include span(4);
    }

    .social-links {
      top: -$footer-padding;
      right: 0;
      padding: $footer-padding $footer-padding ($footer-padding / 3);
    }
  }

  @media (min-width: 700px) and (max-width: 999px) {
    .contact-info, .site-map {
      @include span(4);
    }
  }

  @media (min-width: 1000px) {
    .contact-info,
    .site-map {
      @include span(4);
    }
  }
}
