.page-footer {
  padding: $footer-padding 0;
  background: $footer-bg;
  color: $footer-color;
  box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.1), 0 -5px 5px rgba(0, 0, 0, 0.15);
  font-family: $font-heading;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.6;

  a {
    color: $footer-link-color !important;
    border-bottom: 1px solid transparent !important;

    &:hover {
      border-bottom-color: $footer-link-color !important;
      text-decoration: none;
    }
  }

  h4 {
    display: inline-block;
    padding-bottom: 2px;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid $footer-color;
    font-family: $font-heading;
    font-weight: 800;
    font-size: 14px;
  }

  i {
    margin: 0 0.5em;

    &.fa-lg {
	    vertical-align: 0;
    }
  }

  .address-list {
    list-style: none;

    i {
      margin-left: 0;
    }
  }
}
