.topnav {
  position: relative;
  height: $topnav-height;
  background: $topnav-bg;
  color: $topnav-color;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 5px 5px rgba(0, 0, 0, 0.15);

  .nav-wrapper {
    @include display(flex);
    position: absolute;
    bottom: 0;
  }
}
