$topnav-menu-height: 19px;
$topnav-menu-padding: 16px;
// This is the amount of blank space above the topnav menu
// we will use it on the frontend to affix the nav to the top
$topnav-menu-outerheight: $topnav-menu-height + 2 * $topnav-menu-padding;
$topnav-offset: $topnav-height - $topnav-menu-outerheight;

$topnav-logo-height: 140px;
$topnav-logo-width: 303px;


.topnav-spacer {
  height: $topnav-height;

  @media (max-width: 750px) {
    height: 73px;
  }
}

.topnav {
  z-index: 999;
  @include position(fixed, 0 0 null);
  background: $topnav-bg;
  color: $topnav-color;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 5px 5px rgba(0, 0, 0, 0.15);

  .container {
    position: relative;
    height: $topnav-height;
  }

  .topnav-left-container,
  .topnav-right-container {
    position: relative;
    bottom: -35px;

    > ul > li {
      @include span(2);

      > a {
        @include padding($topnav-menu-padding 0);
        height: $topnav-menu-height;
        display: block;
        text-align: center;
        white-space: nowrap;
      }
    }
  }

  .menu,
  .sub-menu {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .menu a {
    color: $topnav-link-color;
    text-decoration: none;

    &:hover {
      color: $topnav-link-color-active;
    }
  }

  .logo-wrapper {
    position: relative;
    top: -1px;
    height: 1px;
    @include span (4);

    @media (max-width: 1085px) {
      @include span (4);
    }
  }

  .nav-logo {
    @include transform(translate(-50%, -50%));
    @include position(absolute, $topnav-height null null 50%);
    height: $topnav-logo-height;
    width: $topnav-logo-width;
    background: url(../../images/logo.png) 100% / cover;

    @media (max-width: 1085px) {
      background: url(../../images/logo-small.png) no-repeat;
      background-position: center;
    }

    &::after {
      @include size(1px);
      content: 'preload small logo';
      display: block;
      background: url(../../images/logo-small.png);
      position: absolute;
      left: -99999px;
    }
  }

  .menu {
    @include heading-style;
    font-size: 14px;

    > .menu-item {
      display: inline-block;

      &:not(.active) .sub-menu {
        display: none;
      }

      &-has-children {
        position: relative;

        > a::after {
          position: relative;
          top: 1px;
          margin-left: 1rem;
          font-family: FontAwesome;
          content: "#{$fa-var-angle-down}";
        }

        &.active > a::after {
          content: "#{$fa-var-angle-up}";
        }
      }
    }
  }

  .sub-menu {
    background: $topnav-bg;
    box-shadow: inset 0 10px 20px rgba(0, 0, 0, 0.1), inset 0 5px 5px rgba(0, 0, 0, 0.15);
    position: absolute;

    li {
      border: 1px solid $submenu-border;
      border-top: 0;
    }

    a {
      display: block;
      padding: 1rem;
      text-align: center;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .social-links {
    @include position(absolute, 0 0 null null);

    h4 {
      display: inline-block;

      a {
        font-weight: 700;
      }
    }
  }
}

@media (max-width: 750px) {
  .topnav {
    display: none;
  }
}

body.past-scroll-top .topnav {
  top: -$topnav-offset;
  transition: top 250ms;

  .nav-logo {
    @include animation(smallLogo 250ms forwards);
  }

  .social-links {
    opacity: 0; // in case we don't quite get them off page
    transition: opacity 250ms 250ms;
  }
}

@include keyframes(smallLogo) {
  from {
    height: 140px;
  }

  to {
    height: 2 * $topnav-menu-outerheight;
    width: 2 * $topnav-menu-outerheight * $topnav-logo-width / $topnav-logo-height;
    background-image: url(../../images/logo-small.png);
  }
}
