@media (min-width: 751px) {
  .topnav-mobile {
    display: none;
  }
}

.topnav-mobile {
  @include position(fixed, 0 0 null);
  z-index: 999;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 5px 5px rgba(0, 0, 0, 0.15);

  .navbar {
    position: relative;
    background: $topnav-bg;
    padding: 1.5rem 1rem;

    a {
      color: $topnav-mobile-color;
    }
  }

  .logo-wrapper {
    @include position(absolute, 0);
    text-align: center;
    pointer-events: none;
  }

  .custom-logo-link {
    display: inline-block;
    margin-top: 10px;
    pointer-events: all;

    img {
      height: 3rem;
    }
  }

  .menu {
    list-style: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;

    li {
      background: $topnav-mobile-nav-bg;
      border-top: 1px solid $topnav-mobile-nav-color;
    }

    a {
      @include heading-style;
      display: block;
      padding: 1rem;
      color: $topnav-mobile-nav-color;
    }
  }

  .topnav-left-container > ul > li:first-child {
    border-top: none;
  }

  .social-links {
    @include display(flex);
    @include align-items(flex-end);
    text-align: left;
    padding: 0;
    border-bottom: 1px solid #B5A36A;

    a {
      display: inline-block;
      height: 1.4rem;
    }

    h4  {
      @include flex-grow(1);
      display: inline-block;
      padding: 1rem;
      margin: 0;

      a {
        @include heading-style;
        font-weight: 700;
      }
    }

    > a {
      border-left: 1px solid $topnav-mobile-color;
      padding: 1rem;
      margin: 0;

      &:last-of-type {
        border-right: 1px solid $topnav-mobile-color;
        margin-right: 1rem;
      }

      i {
        width: 1rem;
        vertical-align: -30%;
      }
    }
  }

  &:not(.active) .dropdown {
    display: none;
  }

  .menu-item:not(.active) .sub-menu {
    display: none;
  }

  .menu-item-has-children {
    position: relative;

    > a::after {
      position: relative;
      top: 1px;
      float: right;
      margin-left: 1rem;
      font-family: FontAwesome;
      content: "#{$fa-var-angle-down}";
    }

    &.active > a::after {
      content: "#{$fa-var-angle-up}";
    }
  }

  .sub-menu {
    list-style: none;
    margin: 0;
    padding-left: 0;

    li {
      background: shade($topnav-mobile-nav-bg, 20%);
      text-indent: 2em;
    }
  }
}
