.about-page {
  .content, .heading {
    @include span (8);

    h1 {
      font-family: $font-heading;
      font-size: 21px;
      font-weight: 900;
      text-transform: uppercase;
      font-style: italic;
      margin-top: 60px;
    }
  }

  .content {
    margin-bottom: $footer-top-margin;
  }

  .about-photo {
    @include span (4);
    float: right;

    img {
      min-height: 100%;
      border-radius: 4px;
      margin: 1em 0;
    }
  }

  .bg-image {
    background-size: cover;
  }

  .windley-history {
    color: $white;
  }
}

