.page-careers {
  background-color: $white;


  .content {
    @include span (8);
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .careers-photo {
    @include span (4);
    float: right;

    img {
      min-height: 100%;
      border-radius: 4px;
      margin: 2em 0;
    }
  }

  .bg-image {
      background-size: cover;
      background-position: center right;
    }

  .contact-form {
    @include span (6);
    margin-top: 2em;
    margin-bottom: 2em;
    color: $white;

    div.wpforms-container-full .wpforms-form input.wpforms-field-medium,
    div.wpforms-container-full .wpforms-form select.wpforms-field-medium,
    div.wpforms-container-full .wpforms-form .wpforms-field-row.wpforms-field-medium {
      max-width: 100%;
    }
  }
}

@media (min-width: 600px) and (max-width: 999px) {
  .page-careers {
    .contact-form {
      @include span (8);
    }
  }
}


@media (max-width: 599px) {
  .page-careers {
    .contact-form {
      @include span (12);
    }
    .content {
      @include span (12);
    }
    .careers-photo {
      @include span (12);
    }
  }
}
