.category {
  .project-listing {
    margin-bottom: $footer-top-margin;
    color: $body-color;

    .two-column-post {
      margin: 0 gutter() 60px;
      position: relative;
    }

    .media {
      img {
        border-radius: 4px;
        margin-right: 15px;
      }

      .media-left {
        height: auto;
      }

      .media-body {
        display: table-cell;

        h4 {
          font-family: $font-heading;
          font-style: italic;
          font-weight: 900;
          font-size: 18px;
          color: $tundora;
          margin: 0;
        }

        a h4:hover {
          color: $teak;
        }

        p {
          line-height: 18px;
          font-size: 14px;
        }
      }
    }
  }

  .next,
  .prev {
    @include span (6);

    a {
      font-family: $font-heading;
      font-weight: 700;
    }
  }

  .next{
    float:right;
    text-align: right;
  }
}

@media (min-width: 500px) {
  .project-listing {
    .container {
      @include display(flex);
      @include flex-wrap(wrap);
    }

    .two-column-post {
      @include flex(2 2 span(6));
    }
  }
}

@media (max-width: 999px) {
  .project-listing {
    .media {
      img {
        width: 100%;
      }
    }

    .media-body {
      h4 {
        text-align: center;
      }

      p {
        padding-bottom: 35px;
      }
    }
  }
}

@media (min-width: 1000px) {
  .project-listing {
    .media {
      img {
        @include span (6);
      }
    }
  }
}
