.community-page {
  .content, .heading {
    @include span (8);

    h1 {
      font-family: $font-heading;
      font-size: 21px;
      font-weight: 900;
      text-transform: uppercase;
      font-style: italic;
      margin-top: 60px;
    }
  }

  .content {
    margin-bottom: $footer-top-margin ;
  }

  .community-photo {
    @include span (4);
    float: right;

    img {
      min-height: 100%;
      border-radius: 4px;
      -webkit-margin-before: 1em;
      -webkit-margin-after: 1em;
    }
  }

  .bg-color {
    background-color: $tundora;
    height: auto;
    color: $white;

    .container {
      padding-bottom: 30px;
    }
  }

  h3 {
    margin: 0;
    font-style: italic;
    font-weight: 900;
    font-size: 24px;
    text-align: center;
    padding: 65px 0 65px 0;
  }

  .community-links {
    -webkit-padding-start: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    list-style: none;
  }

  .community-link {
    @include span (2);
    display: table;
    position: relative;
    height: 100px;
    margin-bottom: 30px;
    border-radius: 3px;
    transition: .3s;

    &:hover {
      background-color: $dusty-gray;
    }

    &:not(:hover) {
      a {
        display: none;
        transition: .3s;
      }
    }

    &-title {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      color: $tundora;
      font-weight: 700;
      padding: 3px;
    }

    .community-link-caption {
      font-family: $font-heading;
      font-weight: 900;
    }

    a {
      @include position(absolute, 0);
      @include display(flex);
      @include justify-content(center);
      @include align-items(center);
      cursor: pointer;
      color: $tundora;
    }

    &-caption {
      padding: 10px;
      background-color: $white;
      border-radius: 3px;
    }
  }
}


@media (min-width: 600px) and (max-width: 999px) {
  .community-page {
    .content, .heading {
      @include span (6);
    }
    .community-photo {
      @include span (6);
    }
  }
}

@media (max-width: 599px) {
  .community-page {
    .content, .heading {
      @include span (12);
    }
    .community-photo {
      @include span (12);
    }
  }
}


@media (min-width: 600px) and (max-width: 800px) {
  .community-page {
    .community-link {
      @include span (3);
    }
  }
}
@media (min-width: 400px) and (max-width: 599px) {
  .community-page {
    .community-link {
      @include span (4);
    }
  }
}
@media (min-width: 200px) and (max-width: 399px) {
  .community-page {
    .community-link {
      @include span (6);
    }
  }
}
@media (max-width: 199px) {
  .community-page {
    .community-link {
      @include span (12);
    }
  }
}
