.project-photos {
  padding-bottom: 50px;

  .gallery-carousel img {
    cursor: zoom-in;
  }

  .flickity-prev-next-button {
    height: 100%;
    padding: 0;
    border-radius: 0;

    &.previous {
      left: 0;
    }

    &.next {
      right: 0;
    }
  }
}

.single {
  .category-civil-projects {
    li.civil-nav, {
      a {
        opacity: 1;
        background-color: $teak;
      }
    }
  }
  .category-commercial-projects {
    li.commercial-nav {
      a {
        opacity: 1;
        background-color: $teak;
      }
    }
  }
  .category-residential-projects {
    li.residential-nav {
      a {
        opacity: 1;
        background-color: $teak;
      }
    }
  }
}
.category-heading ul .menu-item-object-category:hover:after {
  display: none;
}

.single {
  .project-content {

    h1 {
      line-height: 1em;
    }

    .website {
      padding-bottom: 1em;
    }

    .meta-table {
      width: 100%;
      display: flex;
    }

    .title {
      @include span (3);
      margin-left: 0;
      margin-right: 0;
      background-color: $mercury;
      border-radius: 4px 0px 0px 4px;
    }

    .desc {
      @include span (7);
      margin-left: 0;
      background-color: $concrete;
      border-radius: 0px 4px 4px 0px;

      hr {
        border-top: 1px solid $tundora;
        opacity: .7;
      }
    }

    .title, .desc {
      padding: 10px;
      margin-bottom: 15px;
    }
  }
}



// Forward and Back buttons

.prevpost, .nextpost {
  @include span (6);
  padding-bottom: 50px;
  margin-left: 0;
  margin-right: 0;

  i {
    font-size: 22px;
    line-height: 32px;
  }
}

.prevpost {
  float:left;
}

.nextpost{
  float:right;
  text-align:right;
}

.prevpost a, .nextpost a {
  line-height: 32px;
  font-weight: 900;
  text-transform: uppercase;
  color:$dusty-gray;
}

.prevpost a:hover, .nextpost a:hover,.prevpost a:focus, .nextpost a:focus{
  text-decoration:none;
  color: $regal-blue;
}

@media (min-width: 1000px) {
  .project-photos,
  .project-content {
    @include span(6);
  }
}

@media (min-width: 751px) and (max-width: 999px) {
  .single {

    .project-photos {
      @include span (7);
    }

    .project-content {
      @include span(5);

      .meta-table {
        display: block;
      }

      .title {
        @include span (12);
      }

      .desc {
        @include span (12);
        margin-top: -15px;
      }

      .title, .desc {
        padding-left: 0;
        padding-right: 0;
        border-radius: 0;
      }
    }
  }
}

@media (min-width: 500px) and (max-width: 750px) {
  .project-photos {
    @include span (12);
  }
  .project-content {
    @include span(12);
  }
}

@media (min-width: 100px) and (max-width: 499px) {
  .single {
    .project-photos {
      padding-bottom: 0;
      .gallery {
        .gallery-navigation {
          display: none;
        }
      }
    }
    .project-content {
      @include span (12);

      .meta-table {
        display: block;
      }

      .title {
        @include span (12);
      }

      .desc {
        @include span (12);
        margin-top: -15px;
      }

      .title, .desc {
        padding-left: 0;
        padding-right: 0;
        border-radius: 0;
      }
    }
  }
}

// Next and Previous buttons
@media (min-width: 500px) {
  .prevpost-mobile {
    display: none;
  }
  .nextpost-mobile {
    display: none;
  }
}

@media (max-width: 501px) {
  .prevpost-full {
    display: none;
  }
  .nextpost-full {
    display: none;
  }
}
