@media (min-width: $container-width) {
  .project-photos,
  .project-content {
    @include span(6);
  }
}

.project-photos {
  padding-bottom: 50px;

  .gallery-carousel img {
    cursor: zoom-in;
  }

  .flickity-prev-next-button {
    height: 100%;
    padding: 0;
    border-radius: 0;

    &.previous {
      left: 0;
    }

    &.next {
      right: 0;
    }
  }
}

.single {
  .category-banner {
    .category-heading {
      line-height: 50px;
      a {
        height: 50px;
      }
    }
  }
}

.single {
  .category-civil-projects {
    li.civil-nav, {
      a {
        opacity: 1;
        background-color: $teak;
      }
    }
  }
  .category-commercial-projects {
    li.commercial-nav {
      a {
        opacity: 1;
        background-color: $teak;
      }
    }
  }
  .category-residential-projects {
    li.residential-nav {
      a {
        opacity: 1;
        background-color: $teak;
      }
    }
  }
}
.category-heading ul .menu-item-object-category:hover:after {
  display: none;
}

.single {
  .project-content {

    h1 {
      line-height: 1em;
    }

    .website {
      padding-bottom: 1em;
    }

    .meta-table {
      width: 100%;
      display: flex;
    }

    .title {
      @include span (3);
      margin-left: 0;
      margin-right: 0;
      background-color: $mercury;
      border-radius: 4px 0px 0px 4px;
    }

    .desc {
      @include span (7);
      margin-left: 0;
      background-color: $concrete;
      border-radius: 0px 4px 4px 0px;

      hr {
        border-top: 1px solid $tundora;
        opacity: .7;
      }
    }

    .title, .desc {
      padding: 10px;
      margin-bottom: 15px;
    }
  }
}



// Forward and Back buttons

.prevpost, .nextpost {
  @include span (6);
  padding-bottom: 50px;
  margin-left: 0;
  margin-right: 0;

  i {
    font-size: 22px;
    line-height: 32px;
  }
}

.prevpost {
  float:left;
}

.nextpost{
  float:right;
  text-align:right;
}

.prevpost a, .nextpost a {
  line-height: 32px;
  font-weight: 900;
  text-transform: uppercase;
  color:$dusty-gray;
}

.prevpost a:hover, .nextpost a:hover,.prevpost a:focus, .nextpost a:focus{
  text-decoration:none;
  color: $regal-blue;
}
