button,
.btn {
  @include transition(all 0.1s);
  padding: 10px 40px;
  border-radius: 3px 3px 5px 5px;
  font-family: $font-heading;
  font-size: 1.25em;
  font-weight: 900;
  text-transform: uppercase;

  &:active {
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid $brand-primary-low;
  }

  &-primary {
    background: $brand-primary;
    color: $white;
    border-bottom: 4px solid $brand-primary-low;
    text-shadow: 0px 0px 5px $brand-primary-low;

    &:hover,
    &:focus {
      color: #fff;
      background-color: $brand-primary-high;
    }
  }
}

.details-button-container {
  position: absolute;
  bottom: 0;
}

a.details-button, a.website-button {
  font-family: $font-heading;
  font-weight: 900;
  font-size: 14px;
  border: 1px solid;
  border-radius: 4px;
  padding: 6px;
  margin-right: 15px;
}

a.details-button:hover {
  color: $tundora;
}
