$gallery-gutter: gutter();

.gallery {
  .flickity-enabled {
    .gallery-cell {
      top: 50%;
      @include transform(translateY(-50%));
    }
  }

  .flickity-prev-next-button {
    background: $gallery-nav-bg;

    &:not(:hover) {
      opacity: 0.3;
    }

    svg {
      @include position(absolute, 50% auto auto 50%);
      @include transform(translate(-50%, -50%));
      width: 50%;
      height: auto;

      .arrow {
        fill: $gallery-nav-color;
      }
    }
  }

  &-navigation {
    .gallery-thumb {
      cursor: pointer;

      &:not(.is-selected) {
        opacity: 0.6;
      }
    }
  }

  &-thumb {
    display: block;
    float: left;
    width: 25% - $gallery-gutter * 3/4;
    margin: $gallery-gutter $gallery-gutter 0 0;
    border-radius: 2px;
    height: 100% * 2/3;

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}
