.hero {
  background: url(../../images/hero/placeholder.jpg) 100% / cover;

  .container {
    position: relative;
    min-height: 250px;
  }

  h1 {
    @include span (12);
    font-family: $font-body;
    font-style: italic;
    font-weight: 900;
    position: absolute;
    bottom: 1rem;
    color: $white;
  }
}
