.modal {
  @include position(fixed, 0);
  // @include display(flex);
  // @include justify-content(center);
  // @include align-items(center);
  padding-top: $topnav-height;
  background: transparentize($black, 0.2);
  cursor: zoom-out;

  .gallery {
    max-width: 90%;
    max-height: 90%;
    margin: 0 auto;

    &-cell {
      width: 100%;
    }
  }

  .background-image {
    height: 100%;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  &:not(.open) {
    display: none;
  }
}

body.modal-open {
  overflow: hidden;
}
