.modal {
  @include position(fixed, 0);
  @include display(flex);
  @include justify-content(center);
  @include align-items(center);
  padding-top: $topnav-height;
  background: transparentize($black, 0.2);
  cursor: zoom-out;

  .gallery-carousel {
    width: 90vw;
    height: 70vh;
    margin: 0 auto;
  }

  .background-image {
    height: 100%;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  &:not(.open) {
    display: none;
  }
}

body.modal-open {
  overflow: hidden;
}
