.modal {
  @include position(fixed, 0);
  @include display(flex);
  @include justify-content(center);
  @include align-items(center);
  padding-top: $topnav-height;
  background: transparentize($black, 0.2);
  cursor: zoom-out;

  .gallery-carousel {
    width: 90vw;
    height: 70vh;
    margin: 0 auto;
  }

  .background-image {
    height: 100%;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  &:not(.open) {
    display: none;
  }

  .close {
    position: absolute;
    top: $topnav-height;
    right: 0;
    padding: 1rem;
    margin: 1rem;
    font-size: 2rem;
    color: $white;
    opacity: 0.6;

    &:hover {
      opacity: 0.8;
    }
  }
}

body.modal-open {
  overflow: hidden;
}
