.social-links {
  padding: 0.5rem;
  background: $white;
  text-align: center;
  font-size: 15px;

  > * {
    margin: 0 0.5em;
  }

  a {
    color: $brand-primary;

    &:hover {
      color: $brand-primary-low;
      border-bottom-color: transparent;
      text-decoration: none;
    }
  }

  [class^="fa-"] {
    vertical-align: 0;
  }

  h4 {
    @include heading-style;
    border-bottom: none;
    margin-right: 0.5em;
  }
}
